.popular_img {
    object-position: 50% 20%; 
    box-shadow: 0 8px 38px rgba(228, 3, 3, 0.8);
    position: relative;
    animation: glowAnimation 3s infinite alternate;
  }
  @keyframes glowAnimation {
    0% {
      box-shadow: 0 8px 38px rgba(228, 3, 3, 0.5);
    }
    50% {
      box-shadow: 0 8px 38px rgb(240, 2, 2);
    }
    100% {
      box-shadow: 0 8px 38px rgba(228, 3, 3, 0.5);
    }
  }