.Absol {
    display: flex;
    position: absolute;
    flex-direction: column;
    color: white;
    top: 40%;
    margin-left: 30px;
    text-align: left;
}

.name {
    font-size: 24px;
    margin: 0;
}

.time {
    font-size: 18px;
    margin: 0;
    padding-top: 30px;
    color: red;
}

.btn {
    width: 120px;
    height: 30px;
    margin-top: 50px;
    border: 1px solid #E50914;
    background: #E50914;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
    -webkit-text-fill-color: white; 
    box-shadow: 0 0px 20px #ffffff50;
}

.btn:hover {
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: 0 0px 50px #0525E6;
}

.card {
    margin-left: 50px;
}